<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>House News.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32B029F81D14F829001F3B43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32B02A0C1D14F829001F3B43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32B02A171D14F829001F3B43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
